#links {
    font-size: 25px;
    background-color: black;
    opacity: 0.5;
}

#brand {
    background-color: black;
    opacity: 0.5;
    font-size: 25px;
    color: black;
}

#city {
    background: url(../city.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#citybox {
    font-family: 'Lobster Two', cursive;
    color: white;
    opacity: 0.75;
    font-size: 80px;
    position: absolute;
    bottom: 50vh;
    left: 55vh;
}

#canyon {
    background: url(../canyon.jfif);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

#halfdome {
    background: url(../halfdome.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fire {
    background: url(../fire.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#beach {
    background: url(../beach.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textbox {
    background-color: black;
    opacity: 0.5;
    position: relative;
    top: 20vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 3vh;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF7F50;
    height: 40vh;
}